<div class="card h-100 shadow-sm overflow-hidden product-item-card d-flex" *ngIf="product">
    
    <div class="image-panel position-relative">
        <a routerLink="/shop/{{product.id}}">
            <img src="{{product.imageUrl}}" alt="{{product.name}}" class="img-fluid bg-white">
        
        <div class="d-flex align-items-center justify-content-center hover-overlay">
            <div class="button-floating">
                <i class="fa fa-2x fa fa-eye text-black"></i>
            </div>
        </div>
    </a>
    </div>
    
    <a routerLink="/shop/{{product.id}}" class="text-decoration-none">
        <div class="px-3 pt-3 fs-5 product-item-title text-dark">
            {{product.name}}
        </div>
    </a>

    <div class="d-flex align-items-end justify-content-between ps-3 pb-3">
        
        <div class="fs-6 mt-3 product-item-price">
            {{product.price | currency}}
        </div>

        <button (click)="addItemToBasket()" class="btn btn-outline-primary button-outline-circle rounded rounded-5 mt-2 me-3">
            <i class="fa fa-lg fa-shopping-cart"></i>
        </button>
    </div>


    
</div>