<div class="card h-100 shadow-sm overflow-hidden" *ngIf="product">
    <img src="{{product.imageUrl}}" alt="{{product.name}}" class="img-fluid bg-white">

    <div class="card-body d-flex flex-column">
      <a href="#" class="text-decoration-none">
        <h6 class="text-uppercase d-flex justify-content-center">
          {{product.name}}
        </h6>
      </a>

      <span class="mb-2 d-flex justify-content-center">{{product.price | currency}}</span>

      <div class="btn-group mt-auto">
        <button type="button" class="btn btn-outline-dark">
          <i class="fa fa-2x fa-shopping-cart"></i>
        </button>
        <button routerLink="/shop/{{product.id}}" type="button" class="btn btn-outline-dark">
          <i class="fa fa-2x fa fa-eye"></i>
        </button>
      </div>
    </div>
</div>