<div class="row" *ngIf="product">
    <div class="col-6">
        <img src="{{product.imageUrl}}" alt="{product.name}" class="w-100">
    </div>
    <div class="col-6 mt-5">
        <h2>{{product.name}}</h2>
        <p>{{product.price | currency}}</p>
        <div class="d-flex justify-content-start align-items-center">
            <i class="fa fa-minus-circle me-2 btn-amount-changer"></i>
            <span class="font-weight-bold fs-3">1</span>
            <i class="fa fa-plus-circle ms-2 btn-amount-changer"></i>
            <button class="btn btn-outline-success ms-4">Add to cart</button>
        </div> 
        <div class="row mt-4">
            <h4>Description</h4>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>
