.ec-h-50{
    height: 50px;
}

.ec-h-65{
    height: 65px;
}

.ec-w-40{
    width: 50px;
}

.ec-nav-link{
    text-decoration: none !important;
    color: rgb(33, 37, 41) !important;
    transform: scale(1); 
    transition: transform 0.15s ease-out;

    &.hover{
    transform: scale(1.2);
    transition: transform 0.15s ease-out;
    }

    &.active{
    color: orange !important;
    }
}

.ec-logo{
    cursor: pointer;
}

.ec-nav-link:hover{
    transform: scale(1.2);
    transition: transform 0.15s ease-out;
}

.ec-cart-number{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background-color: rgb(255, 115, 0);
    color: white;
    text-align: center;
    top: -10px;
    left: 20px;
}

@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

$custom-orange:rgb(255, 115, 0);

.btn-orange {
    @include button-variant($custom-orange, $custom-orange, white, lighten($custom-orange, 10%), lighten($custom-orange, 10%), white, darken($custom-orange, 5%), $custom-orange, white);
}

.btn-outline-orange {
    @include button-outline-variant($custom-orange, #222222, lighten($custom-orange,5%), $custom-orange);
}