<header class="d-flex flix-row align-items-md-center justify-content-md-between px-4 mb-3 
        border-bottom bg-white fixed-top shadow-sm ec-height-65">

    <img src="/assets/images/logo.png" alt="logo" class="ec-height-50">

    <nav class="d-inline-flex fs-4 align-items-center">
        <a class="ec-nav-link text-dark text-decoration-none px-3 py-2" href="#">Home</a>
        <a class="ec-nav-link text-dark text-decoration-none px-3 py-2" href="#">Cart</a>
        <a class="ec-nav-link text-dark text-decoration-none px-3 py-2" href="#">Contact</a>
    </nav>

    <div class="d-flex align-items-center">
        <a class="ec-nav-link position-relative text-decoration-none" href="#">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="cart-number">9</div>
        </a>
        <a href="#" class="btn btn-orange me-2">Login</a>
        <a href="#" class="btn btn-orange me-3">Sign up</a>
    </div>

</header>